body {
    text-align: center;
}

canvas {
  /*border: 1px solid black;*/
}

button {
  /*float:right;*/
}

.flex {
  /*display: flex;*/
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: center;
}

.controls {
  font-size: 24px;
}


@media screen and (min-width: 500px) {
  .controls {
    display: none;
  }
}
