/*Page-wide*/

* {
  box-sizing: border-box;
}

html, body {
  height:100%;
  width: 100%;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  padding-top: 50px;
}

::selection {
  background: #70b5bc;
}

/* Navbar and page header */

.navbar-toggle {
  border-color: #70b5bc !important;
}

.icon-bar {
  background-color: #70b5bc !important;
}

.glyphicon {
  font-size: 2.5em;
}

.my-avatar-top {
  max-width: 80px;
  margin: 0 auto 0 auto;
}

.page-header {
  text-align: center;
  padding: 30px 20px 50px 20px;
  margin-top: 0;
  margin-bottom: 0;
  /*border: none;*/
  /*background-color: #f5f5f5;*/
}

.page-header h1 {
  font-size: 1.8em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.page-header h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.4em;
}

/*Social icon and avatar styling*/

.social-icon-div {
  padding-top: 20px;
  color: #70b5bc;
}

.social-icon-div a {
  padding-right: 18px;
  color: inherit;
}

.social-icon-div a:hover {
  color: #333;
}

.social-icon-div a:last-of-type {
  padding-right: 0;
}

/*Short bio info*/

#short-bio {
  padding-top: 10px;
  background-color: #f9fdff;
  padding-bottom: 10px;
}

#short-bio a {
  font-weight: bold;
}

#short-bio a::selection {
  color: #333;
}

#short-bio a:hover {
  text-decoration: none;
  border-bottom: 4px solid;
}

.paragraph-formatting {
  max-width: 65ch;
  margin: 0 auto;
}

.header-copy {
  text-align: right !important;
}

.container-bio {
}

.container-bio p {
  margin: 30px 0;
}

#blog, .about-me {
  min-height: 80%;
}


/*Featured work*/

#featured-work, #resume {
  height: 80%;
}

.featured-work {
  background-color: #f5f5f5;
  padding-bottom: 20px;
}

.featured-work-heading {
  padding-bottom: 40px;
  text-align: center;
}

.featured-image {
  max-width: 180px;
  margin: 0 auto;
}

/*Footer */

.footer-social {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 40px 0;
}

.footer-social a {
  padding-right: 25px;
  color: inherit;
}

.footer-social a:hover {
  color: inherit;
}

/*General styling*/

.center-text {
  text-align: center;
}

mark {
  background-color: #70b5bc;
}

.header-padding {
  padding-bottom: 20px;
}

.resized-arrow {
  font-size: 0.8em;
}

.shadow {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,102,0.2);
  box-shadow: 0px 1px 1px 0px rgba(0,0,102,0.1) !important;
}

.underline {
  position: relative;
  border-bottom: 4px solid #70b5bc;
  font-weight: 600;
  padding-left: 1px;
  padding-right: 1px;
  /*top: -1px;*/
}

/*Media queries*/

@media screen and (min-width: 991px) {
  .page-header {
    /*margin-top: 80px;*/
    padding: 30px;
  }

  .page-header h1 {
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .page-header h3 {
    margin-top: 15px;
  }

  .my-avatar-top {
    max-width: 100px;
  }

  #short-bio {
    padding: 30px 0;
  }
}
