* {
  box-sizing: border-box;
}

html, body {
  height:100%;
  width: 100%;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  padding-top: 70px;
}

::selection {
  background: #70b5bc;
}

.glyphicon {
  font-size: 2.5em;
}

.page-header {
  text-align: center;
  padding: 30px 20px 50px 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.page-header h1 {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.page-header h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.2em;
}

#short-bio a {
  color: #70b5bc;
  font-weight: bold;
}

#short-bio a::selection {
  color: #333;
}

.social-icon-div {
  padding-top: 20px;
}

.social-icon-div a {
  padding-right: 18px;
  color: inherit;
}

.social-icon-div a:hover {
  color: #70b5bc;
}

.social-icon-div a:last-of-type {
  padding-right: 0;
}

.my-avatar-top {
  max-width: 80px;
  margin: 0 auto 0 auto;
  margin-bottom: 10px;
}

.header-copy {
  text-align: right !important;
}

p {
  font-size: 1.4em;
}

.container-bio p {
  margin: 30px 0;
}

#blog, .about-me {
  min-height: 80%;
}

.center-text {
  text-align: center;
}

.header-padding {
  padding-bottom: 20px;
}

.footer-social {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
  border-top: 1px solid #eee;
  padding: 20px;
}

.footer-social a {
  padding-right: 25px;
  color: #70b5bc;
}

.footer-social a:hover {
  color: inherit;
}


@media screen and (min-width: 991px) {
  .page-header {
    /*margin-top: 80px;*/
    padding: 80px;
  }

  .page-header h1 {
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .my-avatar-top {
    max-width: 120px;
  }
}
