/*Page-wide*/

* {
  box-sizing: border-box;
}

html, body {
  height:100%;
  width: 100%;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  /*padding-top: 50px;*/
}

.blue-body {
  background-color: #f9fdff;
}

.border-top-flourish {
  border-top: 5px solid #333;
}

.body-indent {
  margin-top: 50px;
}

::selection {
  background: #70b5bc;
}

/* Navbar and page header */

.navbar-toggle {
  border-color: #70b5bc !important;
}

.icon-bar {
  background-color: #70b5bc !important;
}

.glyphicon {
  font-size: 2.5em;
}

.my-avatar-top {
  max-width: 80px;
  margin: 0 auto 0 auto;
}

.page-header {
  text-align: center;
  padding: 30px 20px 30px 20px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #f9fdff;
}

.page-header h1 {
  font-size: 1.8em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.page-header h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.4em;
}

.navbar {
  /*background-color: #f9fdff;*/
  /*height: 60px;*/
  /*border-bottom: 1px solid #eee;*/
}

.navbar-brand {
  padding-top: 11px !important;
}


.navbar img {
  width: 30px;
  height: 30px;
  float: left;
}

.navbar p {
  float: left;
  margin: 4px 0 0 10px;
}

/*.navbar p {
  float: left;
  padding-left: 10px;
  position: relative;
  top: 5px;
  color: #333;
  font-size: 1.08em;
}*/

.navbar p:hover, .navbar:hover {
  color: #70b5bc;
}

/*Social icon and avatar styling*/

.social-icon-div {
  padding-top: 10px;
  color: #70b5bc;
}

.social-icon-div a {
  padding-right: 18px;
  color: inherit;
}

.social-icon-div a:hover {
  color: #333;
}

.social-icon-div a:last-of-type {
  padding-right: 0;
}

/*Short bio info*/

.lead {
  margin-bottom: 0;
}

#short-bio {
  /*padding-top: 10px;*/
  /*background-color: #f9fdff;*/
  padding-bottom: 10px;
}

#short-bio a {
  /*font-weight: bold;*/
}

#short-bio a::selection {
  color: #333;
}

#short-bio a:hover {
  text-decoration: none;
}

.paragraph-formatting {
  max-width: 60ch;
  margin: 0 auto;
  font-weight: 300;
  /*line-height: 1.6;*/
  /*padding: 0 0 20px 0;*/
  /*width: 700px;*/
}

.header-copy {
  text-align: right !important;
}

.container-bio {
}

.container-bio p {
  margin: 30px 0;
}

/*About me page */

.white-container {
  background-color: white;
  border: 1px solid #eee;
}

.blue-container {
  background-color: #f9fdff;
  /*border: 1px solid #eee;*/
  border-bottom: 1px solid #eee;
}

.about-me-h1 {
  /*margin-top: 40px;*/
  margin-bottom: 30px;
}

.about-me {
  margin-top: 45px;
}

.about-me-bottom {
  margin-bottom: 40px;
}

.about-me-image1 {
  width: 150px;
  margin: 20px auto 0 auto;
}

.twitterwidget {
  margin: 10px auto !important;
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

.learn-more-button {
  padding: 10px 20px;
  margin-bottom: 20px;
}


/*Featured work*/

#featured-work, #resume {
  height: 80%;
}

.featured-work {
  background-color: #f5f5f5;
  padding-bottom: 20px;
}

.featured-work-heading {
  padding-bottom: 40px;
  text-align: center;
}

.featured-image {
  max-width: 180px;
  margin: 0 auto;
}

/*Footer */

.footer-social {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 40px 0;
}

.footer-social a {
  padding-right: 25px;
  color: inherit;
}

.footer-social a:hover {
  color: inherit;
}

/*General styling*/

.center-text {
  text-align: center;
}

mark {
  background-color: #70b5bc;
}

.header-padding {
  padding-bottom: 20px;
}

.resized-arrow {
  font-size: 0.8em;
}

.shadow {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,102,0.2);
  box-shadow: 0px 1px 1px 0px rgba(0,0,102,0.1) !important;
}

.underline {
  border-bottom: 3px solid;
  font-weight: 600;
  padding-left: 1px;
  padding-right: 1px;
  box-shadow: inset 0 -1px 0;
}

.strong-styling {
  font-weight: 600;
}

.color-font {
  /*color: #333;*/
}

/*Portfolio*/

.container-height {
  /*height: 70%;*/
}

.h2-padding {
  padding-top: 20px;
  padding-bottom: 10px;
}

.gray-gradient {
  background: -webkit-linear-gradient(top, #f8f8f8 0%, rgba(255,255,255,0) 100%)
}

.gray-gradient-2 {
  background: -webkit-linear-gradient(top, #F7FAFC 0%, rgba(255,255,255,0) 100%)
}


.img-max-height {
  max-height: 400px;
  margin: 0 auto;
}

.light-blue {
  background-color: #f9fdff;
  border-bottom: 1px solid #eee;
}

.border-bottom {
  border-bottom: 1px solid #eee;
}
.border-top {
  border-top: 1px solid #eee;
}

.center-cta {
  text-align: center;
  padding: 20px;
  /*margin: 20px;*/
}

iframe, #player, .center-align, .ytp-thumbnail-overlay {
  margin: 0 auto !important;
}

#respond, #calendar, #video, #extension {
  padding: 20px 0 20px 0;
}

#calendar {
  background-color: #168EEA;
  color: white;
}

#portfolio-header {
  min-height: 50%;
}

#video {
  background-color: #F7FAFC;
}

.image-border {
  border: 1px solid #ccc;
}

.float-left {
  float: left;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-padding {
  padding: 10px 0;
}

.padding-bottom {
  padding-bottom: 40px;
}

/*Media queries*/

@media screen and (max-width: 991px) {
  .about-me-image1 {
    max-width: 100px;
  }
}

@media screen and (max-width: 511px) {
  .remove-on-mobile {
    display: none;
  }
}

@media screen and (min-width: 992px) {

  .page-header h1 {
    font-size: 2.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .page-header h3 {
    margin-top: 15px;
  }

  .my-avatar-top {
    max-width: 100px;
  }

  #short-bio {
    padding: 20px 0;
  }
}
