* {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

body {
  padding-top: 50px;
}

.brand-align {
  float: left;
  display: flex;
  flex-wrap: nowrap;
}

.navbar-brand-text {
  margin-top: 1px;
}

.brand-logo {
  width: 20px;
  height: auto;
  margin-right: 10px;
  border-radius: 2px;
}

/*Jumbotron styling*/

.jumbotron {
  /*font-family: 'Roboto', sans-serif;*/
  background-color: rgba(27,158,164,0.9);
  background: -webkit-linear-gradient(rgba(21,123,127,0.9) 0%, rgba(27,158,164,0.9) 50%, rgba(38,221,229,0.9) 80%);
  background: -moz-linear-gradient(rgba(21,123,127,0.9) 0%, rgba(27,158,164,0.9) 50%, rgba(38,221,229,0.9) 80%);
  background: -ms-linear-gradient(rgba(21,123,127,0.9) 0%, rgba(27,158,164,0.9) 50%, rgba(38,221,229,0.9) 80%);
  background: -o-linear-gradient(rgba(21,123,127,0.9) 0%, rgba(27,158,164,0.9) 50%, rgba(38,221,229,0.9) 80%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(21,123,127,0.9)), color-stop(50%, rgba(27,158,164,0.9)), color-stop(80%, rgba(38,221,229,0.9)));
  color: white;
  margin-bottom: 0;
}

.jumbotron-styling {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.jumbotron h1 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 300;
}

.bolder {
  font-weight:400;
}

.jumbotron h3 {
  font-weight: 300;
}

.h3-copy {
  padding-bottom: 15px;
}

.cta-styling {
  /*margin-top: 5px;*/
  margin-left: 10px;
  background-color:#EF0C7D;
  color: white;
  border-color: white;
  font-size: 1.5em;
  font-weight: 600;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.25) inset,0 0 2px rgba(0,0,0,0.08),0 4px 6px rgba(0,0,0,0.08),0 12px 16px rgba(0,0,0,0.08);
  padding: .6em 1.5em;
}

.cta-styling:hover {
  border-color: #EF0C7D;
  color: #EF0C7D;
  background-color: white;
}

.cta-styling-blue {
  /*margin-top: 5px;*/
  margin-left: 10px;
  background-color:rgb(27,158,164);
  color: white;
  border-color: rgb(27,158,164);
  font-size: 1.5em;
  font-weight: 600;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.25) inset,0 0 2px rgba(0,0,0,0.08),0 4px 6px rgba(0,0,0,0.08),0 12px 16px rgba(0,0,0,0.08);
  padding: .6em 1.5em;
}

.cta-styling-blue:hover {
  border-color: rgb(27,158,164);
  color: rgb(27,158,164);
  background-color: white;
}



/*Body details*/

.first-text {
  margin-top: 40px;
  margin-bottom: 80px;
}

.first-text h2 {
  margin-bottom: 30px;
}

.body-details {
  padding-top: 60px;
  text-align: center;
  padding-bottom: 80px;
}

.centered-text {
  text-align: center;
}

.paragraph-formatting {
  max-width: 65ch;
  margin: 20px auto 30px auto;
  /*line-height: 1.45em;*/
}

.lead {
  text-align: left;
}

.gray-background {
  background-color:#f8f8f8;
}

.header-padding {
  padding-top: 60px;
}

.section {
  padding: 60px 0;
}

.bottom-cta h1 {
  line-height: 60px;
}

.footer {
  margin: 30px auto 20px auto;
}



/*Footer and social links*/

.footer-text  {
  margin-top: 10px;
}

.social-icon {
  margin-right: 20px;
  color: inherit;
}

.social-icon:hover {
  color: #EF0C7D;
  text-decoration: none;
}

.social-icon:last-of-type {
  margin-right: 0px;
}
